modules = ["nodejs-20", "nodejs-22", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["chromium", "eas-cli", "freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "nano", "openjpeg", "python312Packages.pymupdf", "swig", "xcbuild"]

[userenv]

[userenv.shared]
EXPO_PUBLIC_GIPHY_API_KEY = "nAHzNrm5z7fZdPj4bOeSUG3zUOXGqJXa"
ADMIN_CLERK_USER_IDS = "user_3ECVn1xpKVsSPmgGfGtGsuoUfbg,user_3GjPWZpGYJrY4mIT1xDFI6w3sZC"
BUNNY_LIBRARY_ID = "688975"
VITE_BUNNY_CDN_HOSTNAME = "vz-881ead65-839.b-cdn.net"
EXPO_PUBLIC_BUNNY_CDN_HOSTNAME = "vz-881ead65-839.b-cdn.net"

[userenv.development]
EXPO_PUBLIC_DEV_ADMIN = "true"
CAPACITY_DATABASE_ENV = "development"
